In [2]:
from app.database import SessionLocal
from app.models import User, Expense

db = SessionLocal()

In [3]:
users = db.query(User).all()
users

[<app.models.User at 0x21c40aa5550>,
 <app.models.User at 0x21c40a8d090>,
 <app.models.User at 0x21c40a8d1d0>,
 <app.models.User at 0x21c409f8fc0>]

In [4]:
#list comp print([i.username for i in users if i.username.startswith("D")])

In [5]:
users = db.query(User).all()
users

[<app.models.User at 0x21c40aa5550>,
 <app.models.User at 0x21c40a8d090>,
 <app.models.User at 0x21c40a8d1d0>,
 <app.models.User at 0x21c409f8fc0>]

In [6]:
# Example: get first user
alice = db.query(User).first()

# All expenses for Alice
alice_expenses = db.query(Expense).filter(Expense.user_id == alice.id).all()
alice_expenses

In [7]:
food_expenses = db.query(Expense).filter(Expense.category == "food").all()
food_expenses

In [9]:
db=SessionLocal()

new_exp = Expense(amount=15.0, category="food", user_id=1, payment_method="card")
db.add(new_exp)
db.commit()

In [10]:
expenses = db.query(Expense).all()
for e in expenses:
    print(e.id, e.amount, e.category, e.payment_method)

1 12345.00 food None
2 45678.00 drink None
3 15.00 food card

In [ ]:
from app.database import engine, SessionLocal
from sqlalchemy import inspect
from app.models import Expense, User

inspector = inspect(engine)

for column in inspector.get_columns("expenses"):
    print(f"{column['name']} ({column['type']})")

id (INTEGER)
amount (NUMERIC(10, 2))
currency (VARCHAR(3))
category (VARCHAR(50))
description (VARCHAR(255))
occurred_at (DATETIME)
created_at (DATETIME)
user_id (INTEGER)
payment_method (VARCHAR(50))

In [28]:
from app.database import SessionLocal
from app.models import User, Expense

expenses = db.query(Expense) #create a db session and query the relevant model 
for e in expenses:
    print(e.id, e.amount, e.category, e.user_id, e.payment_method)


    db = SessionLocal()
users = db.query(User).all()
for u in users:
    print(u.id, u.username)

1 12345.00 food 1 None
2 45678.00 drink 1 None
3 15.00 food 1 card
1 Dhruv
2 Adamn
3 Tony
4 Sarah